{% extends "base.html" %}
{% block title %}Fitness Buddy Home{% endblock %}
{% block content %}
  <h1 align="center">Goal List</h1>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    {% endfor %}
  </ul>
  <form method="POST">
    <textarea name="note_data" id="note_data" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>

<!-- Code below seperates the weight column, from the gaol section -->

<h2 align="center">Weight</h2>
  <ul class="list-group list-group-flush" id="weight">
    {% for weight in user.weights %}
      <li class="list-group-item">{{ weight.weight_data }} ({{ weight.weight_date.strftime('%m/%d/%Y') }})</li>
    {% endfor %}
  </ul>
  <form method="POST">
    <input type="text" name="weight_data" placeholder="Enter an exercise...">
    <input type="number" name="weight_lifted" placeholder="Enter weight lifted...">
    <button type="submit">Add</button>
  </form>
{% endblock %}


